body{
	background-color: BlanchedAlmond;
}

img{
	position:absolute;
}

.content{
	width: 100%;
}

.game-content{
	width: 100%;
	margin: auto;
}

#leftSide{
	position:absolute;
	width:500px; 
	height:500px;
	background-color: white;
}

#rightSide{
	position:absolute;
	width:500px; 
	height:500px;
	left: 500px; 
    border-left: 1px solid black;
	background-color: white;
}